* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

body {
    background-color: hsl(217, 28%, 15%);
    font-size: 16px;
    scroll-behavior: smooth;
    color: white;
    position: relative;
    height: max-content;
    font-weight: 400;
}

.header-portion {
    position: relative;
    z-index: 2;
    width: 100%;
    height: max-content;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 90%;
    margin: 30px auto;
}

.nav-bar img {
    width: 80px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
}

.nav-bar ul li a {
    text-decoration: none;
    color: white;
    width: max-content;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    margin: 0px 5px;
}

div.bkg-section {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 300px;
    z-index: 1;
}

div.bkg-section img {
    width: 100%;
    margin: 0px;
    position: relative;
    top: 0;
}

div.bkg-section .background-colour {
    width: 100%;
    margin: 0px;
    height: 90%;
    background-color: hsl(218, 28%, 13%);
    position: relative;
    top: -10px;
    overflow: auto;
}

div.bkg-section .background-footer {
    width: 100%;
    height: 29%;
    margin: 0px;
    background-color: hsl(216, 53%, 9%);
    position: absolute;
    bottom: 0px;
}

.intro-section {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: max-content;
    text-align: center;
}

.intro-section img {
    width: 100%;
    margin: 20px;
}

.intro-section h2 {
    line-height: 35px;
    margin: 20px auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.intro-section p {
    line-height: 22px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

.intro-section a {
    width: 80%;
    background-color: hsl(198, 60%, 50%);
    margin: 30px;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 70px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

.main-portion {
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}

.main-portion .content-section {
    margin: auto auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main-portion .content-section section {
    margin: 15px;
}

.main-portion .content-section img {
    margin: 10px;
}

.main-portion .content-section h3 {
    font-weight: 700;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
}

.main-portion .content-section p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}

.see-how-section {
    width: 90%;
    height: max-content;
    margin: 50px auto;
}

.see-how-section>img {
    width: 100%;
    margin: 70px 0px 20px 0px;
}

.see-how-section>div>h3 {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    margin: 20px 0px;
}

.see-how-section>div>p {
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin: 20px 0px;
}

.see-how-section>div>a {
    border-bottom: hsl(176, 68%, 64%) solid 2px;
    width: max-content;
    height: max-content;
    display: flex;
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    font-family: 'Open Sans', sans-serif;
}

.see-how-section>div>a>img {
    width: 20px;
    margin-left: 10px;
}

.see-how-section>div>a>h3 {
    font-size: 14px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.comment-section {
    width: 80%;
    height: max-content;
    margin: 50px auto;
    font-family: 'Open Sans', sans-serif;
}

.comment-section>div {
    width: 100%;
    position: relative;
    height: max-content;
}

.comment-section>div>img {
    position: absolute;
    top: -13px;
    left: 5px;
    width: 20px;
    height: auto;
}

.comment-section>div>.user-comment {
    background-color: hsl(219, 30%, 18%);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin: 20px auto;
    border-radius: 10px;
    justify-content: space-around;
    align-content: center;
    box-shadow: 3px 3px 5px hsl(218, 28%, 13%);
}

.comment-section>div>.user-comment>p {
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    line-height: 20px;
}

.comment-section>div>.user-comment>.profile {
    display: flex;
    align-items: center;
}

.comment-section>div>.user-comment>.profile>img {
    width: auto;
    height: 30px;
    border-radius: 50%;
}

.comment-section>div>.user-comment>.profile>div {
    width: max-content;
    height: max-content;
    margin-left: 10px;
    text-align: left;
    font-size: 13px;
    word-spacing: 1.5px;
}

.comment-section>div>.user-comment>.profile>div>h4 {
    font-weight: 700;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.comment-section>div>.user-comment>.profile>div>p {
    font-weight: 100;
    font-size: 10px;
    margin: 5px 0px;
    font-family: 'Open Sans', sans-serif;
}

.subscriber-section {
    width: 90%;
    background-color: hsl(219, 30%, 18%);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px hsl(218, 28%, 13%);
}

.subscriber-section>h2 {
    font-family: 'Raleway', sans-serif;
    margin: 15px 0px;
    font-size: 20px;
    font-weight: 700;
}

.subscriber-section>p {
    font-weight: 100;
    font-size: 15px;
    margin: 5px;
    font-family: 'Open Sans', sans-serif;
}

.subscriber-section>div>input {
    width: 90%;
    border-style: none;
}

.subscriber-section>div>#send-email {
    height: 50px;
    border-radius: 30px;
    padding: 25px;
    margin: 20px 0px 10px;
}

.subscriber-section>div>#submit-field {
    height: 50px;
    border-radius: 30px;
    margin: 10px 0px;
    text-align: center;
    align-content: center;
    background-color: hsl(198, 60%, 50%);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.main-section>.logo {
    height: 50px;
    position: relative;
    margin-top: 10px;
    left: -50px;
}

footer .footer-portion {
    width: 80%;
    position: relative;
    margin: 20px auto;
    z-index: 2;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

footer .footer-portion>.location {
    margin: 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

footer .footer-portion>.location img {
    width: 5%;
}

footer .footer-portion>.location p {
    width: 80%;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
    line-height: 25px;
}

footer .footer-portion>.contacts>div {
    margin: 20px 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

footer .footer-portion>.contacts>div>p {
    width: 80%;
    margin-left: 30px;
    font-family: 'Open Sans', sans-serif;
}

footer>.footer-portion>.about>ul {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    margin: 40px 0px;
}

footer>.footer-portion>.about>ul>li {
    margin: 10px 0px;
}

.socials {
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin: 20px auto;
}

.socials>a {
    margin: 5px;
}

.socials>a>img {
    height: 20px;
    width: 20px;
    margin: auto;
    border: solid white 1px;
    border-radius: 50%;
    padding: 10px;
    box-sizing: content-box;
}

.attribution {
    width: 100%;
    margin: 20px auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
}

.attribution>p {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    margin: 5px;
}

.attribution a {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 1000px) {
    .nav-bar {
        margin: 50px auto;
    }
    .nav-bar img {
        width: 175px;
    }
    .nav-bar ul li a {
        font-size: 16px;
        margin: 0px 20px;
    }
    .nav-bar ul li a:hover {
        font-weight: 700;
        border-bottom: white solid 2px;
    }
    .intro-section {
        margin: 50px auto;
        width: 40%;
        text-align: center;
    }
    .intro-section p {
        width: 80%;
        font-size: 13px;
    }
    .intro-section a {
        width: 40%;
        padding: 10px;
        font-size: 13px;
        margin: 20px;
    }
    .intro-section a:hover {
        background-color: hsl(176, 68%, 64%);
    }
    .main-portion .content-section {
        margin: auto;
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
    .main-portion .content-section section {
        margin: 30px 60px;
    }
    .main-portion .content-section img {
        width: 80px;
    }
    .main-portion .content-section p {
        font-size: 13px;
    }
    .see-how-section {
        width: 80%;
        margin: 100px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .see-how-section>img {
        width: 45%;
        align-self: center;
    }
    .see-how-section>div {
        width: 45%;
    }
    .see-how-section>div>h3 {
        font-size: 40px;
        margin-right: 150px;
    }
    .see-how-section>div>p {
        font-size: 14px;
    }
    .see-how-section>div>a>h3 {
        font-size: 13px;
    }
    .see-how-section>div>a:hover {
        color: white;
        border-bottom: white solid 2px;
    }
    .comment-section>div {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .comment-section>div>img {
        top: -10px;
        left: 10px;
        width: 50px;
    }
    .comment-section>div>.user-comment {
        padding: 20px;
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 20px 20px;
        border-radius: 5px;
        z-index: 4;
    }
    .comment-section>div>.user-comment>.profile {
        display: flex;
        align-items: center;
    }
    .comment-section>div>.user-comment>.profile>div>p {
        margin: 1px 0px;
    }
    .subscriber-section {
        width: 60%;
        padding: 20px;
    }
    .subscriber-section>h2 {
        margin: 10px 0px;
        font-size: 25px;
    }
    .subscriber-section>p {
        width: 70%;
        font-size: 13px;
        margin: 5px;
    }
    .subscriber-section>div {
        width: 90%;
        margin: 20px 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .subscriber-section>div>#send-email {
        height: 35px;
        width: 65%;
        border-radius: 30px;
        padding: 0px 20px;
        margin: 0px;
        font-size: 11px
    }
    .subscriber-section>div>#submit-field {
        width: 30%;
        height: 35px;
        margin: 0px;
        font-size: 11px
    }
    .subscriber-section>div>#submit-field:hover {
        background-color: hsl(176, 68%, 64%);
    }
    .main-section>.logo {
        height: 40px;
        top: 50px;
        left: -420px;
    }
    footer>.footer-portion {
        margin: 50px auto;
        padding: 30px 0px;
        flex-direction: row;
        justify-content: space-between;
    }
    footer .footer-portion>.location {
        width: 35%;
        display: flex;
        flex-direction: row;
        margin: 0px;
    }
    footer .footer-portion>.location img {
        width: 5%;
    }
    footer .footer-portion>.location p {
        width: 80%;
        margin-left: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    footer .footer-portion>.contacts>div {
        margin: 0px 20px 20px 0px;
    }
    footer .footer-portion>.contacts>div>p {
        width: fit-content;
        margin-left: 20px;
        font-size: 14px;
    }
    footer>.footer-portion>.about {
        display: flex;
    }
    footer>.footer-portion>.about>ul {
        margin: 0px 20px 0px 10px;
    }
    footer>.footer-portion>.about>ul>li {
        margin: 0px 0px 10px 0px;
        font-size: 14px;
    }
    footer>.footer-portion>.about>ul>li:hover {
        font-weight: 700;
    }
    .socials {
        margin: 0px;
    }
    .socials>a {
        margin: 5px;
    }
    .socials>a>img {
        height: 15px;
        width: 15px;
        padding: 5px;
        border-radius: 50%;
    }
    .socials>a>img:hover {
        fill: hsl(176, 68%, 64%);
        border: hsl(176, 68%, 64%) solid 1px;
    }
    div.bkg-section {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 300px;
        z-index: 1;
    }
    div.bkg-section img {
        width: 100%;
        margin: 0px;
        position: relative;
        top: 200px;
    }
    div.bkg-section .background-colour {
        width: 100%;
        margin: 0px;
        height: 70%;
        top: 190px;
    }
    div.bkg-section .background-footer {
        bottom: -100px;
        height: 29%;
    }
}